body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.meet {
    background-color: #722F37;
    width: 100%;
    float: left;
    margin-bottom: 2%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.651);
    border-top: 2px solid rgba(128, 128, 128, 0.651);
    border-right: 2px solid rgba(128, 128, 128, 0.651);
    border-left: 2px solid rgba(128, 128, 128, 0.651);
}

.div1:hover,.div2:hover {
    background-color: #f5f5c888
}

h3 {
    text-align: center;
    margin-top: 10%;
    color: white;
}

.links1{
    float: left;
    height: 0,5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 7%;
    width: 95%;
}


.img1 {
    border-radius: 0%;
    width: 3%;
}

.div1 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.div2 {
    width: 100%;
    float: left;
    margin-top: 1%;
    background-color: white;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

img {
    width:20%;
    height: auto;
    margin: auto;
    float: left;
    border-radius: 50%;

}

h1,h2 {
    margin-left: 5%;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;

}

p {
    width: 75%;
    float: left;
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}