{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} UFT telecom | {{title}} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "CSS/main-style.css" %}">

    {% if style_table %}
        <link rel="stylesheet" href="{% static "CSS/table.css" %}">
    {% endif %}
    <script src="https://kit.fontawesome.com/2c23f77634.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>

        <nav class="main-color">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quienes somos</a></li>
            </ul>
        </nav>

        {% if in_search %}
            <form action="" method="get">
        {% else %}
            <form action="/buscar" method="get">
        {% endif %}
            <div class="form-container title-container">
                <input type="text" name="title" id="title" placeholder="Titulo a buscar">
                <button type="submit" class="main-color-btn"><i class="fas fa-arrow-right"></i></button>
            </div>

            <div class="form-container">
                <label for="tutor">Tutor</label>
                <select name="tutor" id="tutor">
                    <option value="" selected>Escoga tutor</option>
                    {% for tutor in tutors %}
                    <option value="{{tutor}}">{{tutor}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-container year-container">
                <div>
                    <label for="year-low">Desde:</label>
                    <select name="year-low" id="year-low">
                        
                        {% for year in years %}
                            {% if year == years.0 %}
                                <option value="{{year}}" selected>{{year}}</option>
                            {% else %}
                                <option value="{{year}}">{{year}}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                    
                <div>
                    <label for="year-high">Hasta:</label>
                    <select name="year-high" id="year-high">
                        {% for year in years %}
                            {% if year == years|last %}
                                <option value="{{year}}" selected>{{year}}</option>
                            {% else %}
                                <option value="{{year}}">{{year}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-container">
                <label for="container-slider">Mencion especial</label>
                <div id="container-slider">
                    <input type="checkbox" name="spec-mention" id="spec-mention" checked>
                    <div id="courtain"></div>
                    <span id="roller"></span>
                </div>
            </div>

            <button type="submit" id="search-btn" class="main-color-btn"><i class="fas fa-search"></i> Buscar</button>
        </form>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>


    <footer>Universidad Fermín Toro - Escuela de telecomunicaciones <br> Powered by Elias Colmenarez y Alessandro Viera</footer>

</body>
</html>